<h1 class="resources-title">Resources</h1>

<div class="filters-container">
  <h2>Filters</h2>
  <br>
  <label for="resourceTypes">Resource Type</label>
  <br>
  <select id="resourceTypes" name="resourceTypes" [(ngModel)]="resourceType">
    <option value="weapon">Weapon</option>
    <option value="food">Food</option>
    <option value="house">House</option>
  </select>

  <br><br>

  <label for="rarity">Rarity</label>
  <br>
  <input type="checkbox" id="rarity" name="rarity" [(ngModel)]="resourceRarity">
</div>

<div class="table-container resources-container">
  <div class="table-header-container resources-header-container">
    <div class="col">
      <p>ID</p>
    </div>
    <div class="col">
      <p>Resource</p>
    </div>
    <div class="col">
      <p>Owner</p>
    </div>
    <div class="col">
      <p>Original Owner</p>
    </div>
  </div>
  <div *ngFor="let resource of filteredResources"
       class="table-row-container resource-container"
       (click)="openRegion(resource)"
  >
    <div class="col">{{resource.regionID}}</div>
    <div class="col img-container">
      <img [src]="'https://edominations.com/public/game/resource/' + resource.resource + '.png'" alt="">
      <p>{{resource.resource}}</p>
    </div>
    <div class="col img-container">
      <img [src]="'https://edominations.com/public/game/flags/flat/32/' + resource.owner_current_value + '.png'" alt="rank">
      <p>{{resource.owner_current_name}}</p>
    </div>
    <div class="col img-container">
      <img [src]="'https://edominations.com/public/game/flags/flat/32/' + resource.owner_original_value + '.png'" alt="rank">
      <p>{{resource.owner_original_name}}</p>
    </div>
  </div>
</div>
