.banned-title{
  color: red;
  text-align: center;
}
.banned-users-container{
  .col{
    &:first-child,
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6),
    &:nth-child(7){
      width: 10%;
    }
  }
  .banned-user-container{
    .img-container{
      .strength-img{
        width: 30px;
        height: 30px;
      }
    }
  }
}
