.menu-container{
  display: flex;
  gap: 16px;
  padding: 16px;
}

.active-menu{
  color: blue;
  text-decoration: underline;
}

.credits{
  position: absolute;
  top: 16px;
  right: 16px;
  a{
    color: blue;
  }
}
