.battles-title{
  text-align: center;
}

.battle-check-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  align-items: center;
  justify-content: center;
}

input{
  border: 1px solid black;
}

button:disabled{
  opacity: 0.8;
  background-color: gray;
  cursor: default;
}

.battle-stats-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
  .table-container{
    width: 100%;

    .col{
      &:first-child{
        width: 10%;
      }
    }
  }
}
